.logoImg{
    width: 220px;
    height: 60px;
    object-fit: cover;
}
.activ{
    background-color:var(--asosiy-rang);
    color: #fff;
}
.activ a{
    color: #fff;
}

/* .activeItem{
    color: #fff;
} */
.nav-item{
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    margin: 0 10px;
}
.nav-link:focus {
    color: #fff;
}



