.footer {
  width: 100%;
  z-index: 99;
}

.Maysa {
  z-index: -99 !important;
}

.foot_text {
  color: rgba(255, 255, 255, 0.774);
  cursor: pointer;
  font-size: 18px;
}

.foot_text:hover{
  color: white;
}

@media (max-width:576px) {
    .Xarita{
      width: 200px;
      height: 200px;
    }
}