*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --asosiy-rang:#33A9A9;
    --asosiy-active-rang:#32CDCD;
    --oq-rang:#fff;
    --text-color:#33A9A9;
    --card-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.vontainer{
    box-shadow:var(--card-shadow);
    width: 200px;
    height: 100px;
    background-color: red;
}


.buttonCard{
    background-image: linear-gradient(to right,#33A9A9, #32CDCD);
    width: 240px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 33px;
    border: none;
}

.react-multiple-carousel__arrow {
    background: rgba(0, 128, 128, 0.692) !important;
}
.buttonText{
    color: #fff;
    font-size: 24px;
    margin-bottom: 0;
}
.buttonCard:hover{
    cursor: pointer;
}

@media (max-width:971px) {
    .buttonCard {
        width: 180px;
        height: 50px;
    }

    .buttonText {
        font-size: 18px;
    }
}